/* Styles go here */

body {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0.09%;
  bottom: -0.09%;
  background: url(background.png);
}

/*позиционирование блока с логотипом*/
.logo{
  position: absolute;
  left: 41.04%;
  right: 42.55%;
  top: 13.15%;
  bottom: 80.46%;
}

/*стилизация блока с начальной формой авторизации*/
.desktop1{
  position: absolute;
  left: 34.38%;
  right: 34.38%;
  top: 31.11%;
  bottom: 31.02%;
  background: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

/*стилизация блока с выводом ошибки*/
.desktop3{
  position: absolute;
  left: 34.38%;
  right: 34.38%;
  top: 27.96%;
  bottom: 33.7%;
  background: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

/*стилизация блока с выводом аватара*/
.desktop4{
  position: absolute;
  left: 34.38%;
  right: 34.38%;
  top: 31.11%;
  bottom: 31.02%;
  background: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

/*позиционирование всех форм на всю ширину и высоту блока*/
.authorization1, .authorization2, .authorization3{
  position:static;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

/*стилизация поля ввода почты, абсолютное позиционирование относительно блока*/
input[type = "e-mail"]{
  position: absolute;
  top: 35%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 9%;
  background: #F1F1F1;
  border-radius: 4px;
  font-family: Gotham;
  font-size: 16px;
  line-height: 19px;
  color: #262626;
  opacity: 0.8;
}

/*стилизация поля ввода пароля, абсолютное позиционирование относительно блока*/
input[type = "password"]{
  position: absolute;
  width: 80%;
  top: 55%;
  height: 9%;
  margin-left:10%;
  margin-right:10%;
  background: #F1F1F1;
  border-radius: 4px;
  font-family: Gotham;
  font-size: 16px;
  line-height: 19px;
  color: #262626;
  opacity: 0.8;
}

/*сдвиг поля для ввода почты на блоке с выводом ошибки*/
#e-mail2{
  top: 25%;
  height: auto;
}

/*сдвиг поля для ввода пароля на блоке с выводом ошибки*/
#password2{
  top: 45%;
  height: auto;
}

/*изменние насыщенности подсказки в полях ввода почты и пароля*/
input::-webkit-input-placeholder {
	opacity: 0.4;
}
					
input:-moz-placeholder { /* Firefox 18- */
	opacity: 0.4;  
}

/*стилизация надписи Log in*/
.log_in{
  position:absolute;
  top: 15%;
  margin-left:40%;
  height: 29px;
  font-family: Gotham;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #262626;
  opacity: 0.8;
}

/*сдвиг надписи на блоке с выводом ошибки*/
.log-in-err{
  top: 10%;
}

/*позиционирование кнопки в начальном блоке*/
.button_login1{
  position: absolute;
  left: 46.2%;
  right: 46.2%;
  top: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  width: 15%;
}

/*позиционирование кнопки в блоке с ошибкой*/
.button_login2{
  position: absolute;
  top: 80%;
  left: 46.2%;
  right: 46.2%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  width: 15%;
}

/*позиционирование кнопки в блоке с аватаркой*/
.button_login3{
  position: absolute;
  left: 45%;
  top: 75%;
  height: 10%;
  width: 15%;
}

/*стилизация кнопок на всех формах*/
.button1, .button2, .button3{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ED4159;
  box-shadow: 0px 4px 16px rgba(237, 65, 89, 0.4);
  border-radius: 100px;
  font-family: Gotham;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

/*изменение стиля кнопок при нажатии или наведении курсора*/
.button1:hover, .button2:hover, .button3:hover, 
.button1:active, .button2:active, .button3:active 
 {
  background: #FFFFFF;
  color: #ED4159;
}

/*стилизация и позиционирование текста о неправильных почте и пароле*/
.error{
  position: absolute;
  width: 80%;
  top: 65%;
  height: auto;
  margin-left:10%;
  margin-right:10%;
  background: rgba(237, 65, 89, 0.25);
  border-radius: 4px;
  font-family: Gotham;
  font-size: 14px;
  line-height: 17px;
  color: #ED4159;
}

/*позиционирование блока с аватаркой*/
.img_avatar{
  position:absolute;
  left: 40%;
  top: 10%;
}

/*стилизация и позиционирование имени пользователя*/
.username{
  position: absolute;
  top:50%;
  left: 38%;
  height: 34px;
  font-family: Gotham;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.233333px;
  color: #262626;
  opacity: 0.8;
}

/*переопределение свойств для экранов мобильных устройств посредством медиазапроса*/
@media (min-width: 300px) and (max-width: 767.98px) {
.desktop1{
    left: 5%;
    right: 5%;
    top: 21.13%;
    bottom: 18.31%;
  }
  .desktop3{
    left: 5%;
    right: 5%;
    top: 21.13%;
    bottom: 7.04%;
  }
  .desktop4{
    left: 5%;
    right: 5%;
    top: 21.13%;
    bottom: 26.23%;
  }
  .logo{
    left: 3%;
    right: 10%;
    top: 7.57%;
    bottom: 85.39%;
  }
  .log-in{
    height: 24px;
    font-size: 20px;
    line-height: 24px; 
  }
  .error{
    font-size: 12px;
    line-height: 14px;
  }
  .username{
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.15px;
    top:55%;  
    left: 33%; 
  }

.img_avatar{
   left: 33%;
}
	
  .button_login1, 
  .button_login2, 
  .button_login3{
      width: 30%;
 }
}

