/* Styles go here */

body {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0.09%;
  bottom: -0.09%;
  background: url(background.png);
}

.desktop1, .desktop3, .desktop4{
  /* Group 4 */
  position: absolute;
  left: 34.38%;
  right: 34.38%;
  top: 31.11%;
  bottom: 31.02%;
  background: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.authorization1, .authorization2, .authorization3{
  position:static;
  width: 100%; 
  height: 100%; 
}

input[type = "e-mail"]{
  position: relative;
  top: 25%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 9%;
  background: #F1F1F1;
  border-radius: 4px;
  font-family: Gotham;
  font-size: 16px;
  line-height: 19px;
  color: #262626;
  opacity: 0.8;
}

.error_css{
  color: #ED4159;
  border: 1px solid #ED4159;
}

input[type = "password"]{
  position: relative;
  width: 80%;
  top: 35%;
  height: 9%;
  margin-left:10%;
  margin-right:10%;
  background: #F1F1F1;
  border-radius: 4px;
  font-family: Gotham;
  font-size: 16px;
  line-height: 19px;
  color: #262626;
  opacity: 0.8;
}

#e-mail2{
  top: 20%;
  height: auto;
}

#password2{
  top: 30%;
  height: auto;
}

input::-webkit-input-placeholder {
	opacity: 0.4;
}
					
input:-moz-placeholder{ 
	opacity: 0.4;  
}
.log_in{
  position:relative;
  top: 15%;
  margin-left:40%;
  height: 29px;
  font-family: Gotham;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #262626;
  opacity: 0.8;
}

.log-in-err{
  top: 10%;
}
.button_login1{
  position: relative;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  width: 15%;
 
}

.button_login3{
  /*position: absolute;
  left: 45.99%;
  right: 45.99%;
  top: 56.3%;
  bottom: 39.26%;*/
  position: relative;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  width: 15%;
}

.button_login2{
  position: relative;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  width: 15%;
}

.button1, .button2, .button3{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ED4159;
  box-shadow: 0px 4px 16px rgba(237, 65, 89, 0.4);
  border-radius: 100px;
  font-family: Gotham;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}
   
.error{
  position: relative;
  width: 80%;
  top: 40%;
  height: auto;
  margin-left:10%;
  margin-right:10%;
  background: rgba(237, 65, 89, 0.25);
  border-radius: 4px;
  font-family: Gotham;
  font-size: 14px;
  line-height: 17px;
  color: #ED4159;
}

.logo{
  position: absolute;
  left: 41.04%;
  right: 42.55%;
  top: 13.15%;
  bottom: 80.46%;
  text-align: center;
  font-size: 32px;
  color: white;
  background: url(Logo.svg);
}

.avatar{
  position: absolute;
  left: 46.67%;
  right: 46.67%;
  top: 32.41%;
  bottom: 55.74%;
}

.username{
  position: absolute;
  height: 34px;
  left: 44.48%;
  top: calc(50% - 34px/2 - 5px);
  font-family: Gotham;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.233333px;
  color: #262626;
  opacity: 0.8;
}
/*
.button1, .button2, .button3:hover, 
.button1, .button2, .button3:active
 {
  background: #FFFFFF;
  color: #ED4159;
}
*/

