/* Styles go here */

body {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0.09%;
  bottom: -0.09%;
  width: 100%; /* Full width */
  height: 100%;
  background: url(background.png);
  background-repeat:no-repeat;
}

.authorization1{
  /* Group 4 */
   position: absolute;
  left: 34.38%;
  right: 34.38%;
  top: 31.11%;
  bottom: 31.02%;
  background: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
  
.authorization2{
  position: absolute;
  left: 34.38%;
  right: 34.38%;
  top: 31.11%;
  bottom: 31.02%;
  background: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.authorization3{  
  position: absolute;
  left: 34.38%;
  right: 34.38%;
  top: 31.11%;
  bottom: 31.02%;
  background: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;  
}

input[type = "e-mail"]{
 position: absolute;
  left: 36.88%;
  right: 36.88%;
  top: 42.69%;
  bottom: 52.87%;
  background: #F1F1F1;
  border-radius: 4px;
  font-family: Gotham;
  font-size: 16px;
  line-height: 19px;
/* identical to box height */
  color: #262626;
  opacity: 0.8;
}
input[type = "password"]{
  position: absolute;
  left: 36.88%;
  right: 36.88%;
  top: 50.09%;
  bottom: 45.46%;
  background: #F1F1F1;
  border-radius: 4px;
  font-family: Gotham;
  font-size: 16px;
  line-height: 19px;
/* identical to box height */
  color: #262626;
  opacity: 0.8;
}

input::-webkit-input-placeholder {
	opacity: 0.4;
}
					
input:-moz-placeholder { /* Firefox 18- */
	opacity: 0.4;  
}
.log_in{
  position: absolute;
  height: 29px;
  left: 45%;  
  top: calc(50% - 29px/2 - 141.5px);
  font-family: Gotham;
  font-size: 24px;
  line-height: 29px;

/* identical to box height */
  text-align: center;
  letter-spacing: 0.2px;
  color: #262626;
  opacity: 0.8;
}

.button_login1{
  position: absolute;
  left: 46.2%;
  right: 46.2%;
  top: 58.98%;
  bottom: 36.57%;
}

.button_login3{
  position: absolute;
  left: 45.99%;
  right: 45.99%;
  top: 56.3%;
  bottom: 39.26%;
}

.button1, .button2, .button3{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ED4159;
  box-shadow: 0px 4px 16px rgba(237, 65, 89, 0.4);
  border-radius: 100px;
  font-family: Gotham;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

.button_login2{
  position: absolute;
  left: 46.2%;
  right: 46.2%;
  top: 65.65%;
  bottom: 29.91%;  
}
  
.error{
  /* Rectangle */
  position: absolute;
  left: 36.88%;
  right: 36.93%;
  top: 57.5%;
  bottom: 38.8%;
  background: rgba(237, 65, 89, 0.25);
  border-radius: 4px;
  font-family: Gotham;
  font-size: 14px;
  line-height: 17px;
  color: #ED4159;
}

.logo{
  position: absolute;
  left: 41.04%;
  right: 42.55%;
  top: 13.15%;
  bottom: 80.46%;
  text-align: center;
  font-size: 32px;
  color: white;
  background: url(Logo.svg);
  background-repeat: no-repeat;
}

.avatar{
  /* Oval 2 */
  position: absolute;
  left: 46.67%;
  right: 46.67%;
  top: 32.41%;
  bottom: 55.74%;
}

.username{
  position: absolute;
  height: 34px;
  left: 44.48%; 
  top: calc(50% - 34px/2 - 5px);
  font-family: Gotham;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.233333px;
  color: #262626;
  opacity: 0.8;
}
/*
.button1, .button2, .button3:hover
 {
  background: #FFFFFF;
  box-shadow: 0px 6px 20px rgba(237, 65, 89, 0.4);
  border-radius: 100px;
  color: #ED4159;
}

.button1, .button2, .button3:active {
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(237, 65, 89, 0.5);
  border-radius: 100px;
  color: #ED4159;
} 
*/
